body {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Serif JP",'Capriola',"Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
    color: #424242;
    background-image: url(../img/wood-texture_00001.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}